<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>symbols</key>
	<dict>
		<key>modelViewSymbol</key>
		<dict>
			<key>type</key>
			<string>mat4</string>
		</dict>
		<key>noiseSymbol</key>
		<dict>
			<key>image</key>
			<string>noise.png</string>
			<key>type</key>
			<string>sampler2D</string>
		</dict>
		<key>timeSymbol</key>
		<dict>
			<key>type</key>
			<string>float</string>
		</dict>
		<key>resolutionSymbol</key>
		<dict>
			<key>type</key>
			<string>vec3</string>
		</dict>
	</dict>
	<key>sequence</key>
	<array>
		<string>raytrace</string>
		<string>post</string>
	</array>
	<key>passes</key>
	<dict>
		<key>raytrace</key>
		<dict>
			<key>draw</key>
			<string>DRAW_QUAD</string>
			<key>program</key>
			<string>MandelBox</string>
			<key>inputs</key>
			<dict>
				<key>u_modelViewTransform</key>
				<string>modelViewSymbol</string>
				<key>noiseSampler</key>
				<string>noiseSymbol</string>
				<key>u_time</key>
				<string>timeSymbol</string>
				<key>u_resolution</key>
				<string>resolutionSymbol</string>
			</dict>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>traceResult</string>
			</dict>
		</dict>
		<key>post</key>
		<dict>
			<key>draw</key>
			<string>DRAW_QUAD</string>
			<key>program</key>
			<string>post</string>
			<key>inputs</key>
			<dict>
				<key>colorSampler</key>
				<string>traceResult</string>
				<key>noiseSampler</key>
				<string>noiseSymbol</string>
			</dict>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>COLOR</string>
			</dict>
		</dict>
	</dict>
	<key>targets</key>
	<dict>
		<key>traceResult</key>
		<dict>
			<key>type</key>
			<string>color</string>
			<key>scaleFactor</key>
			<real>0.5</real>
		</dict>
	</dict>
</dict>
</plist>
